# Ignore all
/*
*.json
mlruns
models
models
on-demand-db
__pycache__
.rasa
*.html

# Accept Files
!.gitignore
!QAEvaluation.py
!README.md
!requirements.txt
!test.ipynb

# Accept Folders
!bash
!classifier
!db
!evaluation
!logs
!qasystem
!rasa
!scrapping
!utils
!LaTex