# Ignore all
/*
*.json
mlruns
models
models
on-demand-db
__pycache__
.rasa

# Accept Files
!.gitignore
!QAEvaluation.py
!ReaderEvaluation.py
!README.md
!RetrieverEvaluation.py
!requirements.txt
!test.ipynb

# Accept Folders
!bash
!classifier
!db
!evaluation
!Logs
!qasystem
!rasa
!scrapping
!utils
